# Node.js specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker specific
Dockerfile.*.cache
*.log
.dockerenv
docker-compose.override.yml

# OS generated
.DS_Store
*.swp
*.swo
*.swn
*.bak
*.orig
~*

# VSCode specific
.vscode/

# Environment variables
.env